body{
    background-color: #c1c1c1;
}

.centerDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#debug, #app_base {
    overflow-y: auto;
}